* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
  border-color: #fff;
}

.calculator {
  margin: 3rem auto;
  width: 75%;
}

h1 {
  color: black;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.row * {
  width: 25%;
  padding: 0.75rem;
}

.filled-btn {
  background-color: #A437DB;
}

.two-span-btn {
  width: 50%;
}

.screen {
  width: 100%;
  text-align: right;
  padding: 1rem;
  color: #fff;
  background-color: #4b4b4b;
}
